@page
@model ClinicSystem2.Pages.Appointments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Appointment.Patient" class="control-label"></label>
                <input asp-for="Appointment.Patient" class="form-control" />
                <span asp-validation-for="Appointment.Patient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Doctor" class="control-label"></label>
                <input asp-for="Appointment.Doctor" class="form-control" />
                <span asp-validation-for="Appointment.Doctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Start" class="control-label"></label>
                <input asp-for="Appointment.Start" class="form-control" />
                <span asp-validation-for="Appointment.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.End" class="control-label"></label>
                <input asp-for="Appointment.End" class="form-control" />
                <span asp-validation-for="Appointment.End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Reason" class="control-label"></label>
                <input asp-for="Appointment.Reason" class="form-control" />
                <span asp-validation-for="Appointment.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Goals" class="control-label"></label>
                <input asp-for="Appointment.Goals" class="form-control" />
                <span asp-validation-for="Appointment.Goals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
